<div class="container text-center">
    <h1>O nas, czyli o Misiach i Żankach =)</h1>
    <h2>i BROWARKACH!</h2>
    <p>Misie i Żanki to najlepsza para na świecie</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores obcaecati eligendi illo quod inventore quam sed possimus at cum. Ut, officia ex minima repellat iure cum incidunt esse, quas.</p>
</div>
